<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>-6</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>comma</key>
    <integer>-76</integer>
    <key>j</key>
    <integer>-45</integer>
    <key>public.kern2.krA</key>
    <integer>-24</integer>
    <key>public.kern2.krf2</key>
    <integer>-49</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>j</key>
    <integer>-37</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>public.kern2.krf2</key>
    <integer>-45</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>j</key>
    <integer>-37</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>public.kern2.krf2</key>
    <integer>-45</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>comma</key>
    <integer>-7</integer>
    <key>g</key>
    <integer>-14</integer>
    <key>j</key>
    <integer>-45</integer>
    <key>p</key>
    <integer>-17</integer>
    <key>public.kern2.krf2</key>
    <integer>-56</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>j</key>
    <integer>-29</integer>
    <key>public.kern2.krf2</key>
    <integer>-33</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>quotesingle</key>
    <integer>-11</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>j</key>
    <integer>-37</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>public.kern2.krf2</key>
    <integer>-45</integer>
    <key>public.kern2.kri</key>
    <integer>-19</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>c</key>
    <integer>-8</integer>
    <key>d</key>
    <integer>-7</integer>
    <key>g</key>
    <integer>-10</integer>
    <key>j</key>
    <integer>-45</integer>
    <key>p</key>
    <integer>-17</integer>
    <key>q</key>
    <integer>-9</integer>
    <key>s</key>
    <integer>-10</integer>
    <key>public.kern2.kra</key>
    <integer>-7</integer>
    <key>public.kern2.krf2</key>
    <integer>-56</integer>
    <key>public.kern2.kro</key>
    <integer>-9</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-53</integer>
    <key>j</key>
    <integer>-21</integer>
    <key>public.kern2.krA</key>
    <integer>-12</integer>
    <key>public.kern2.kri</key>
    <integer>-15</integer>
    <key>public.kern2.kru</key>
    <integer>-34</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>j</key>
    <integer>-10</integer>
    <key>public.kern2.krf2</key>
    <integer>-25</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>j</key>
    <integer>-37</integer>
    <key>period</key>
    <integer>-27</integer>
    <key>public.kern2.krf2</key>
    <integer>-25</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>comma</key>
    <integer>-15</integer>
    <key>g</key>
    <integer>-21</integer>
    <key>j</key>
    <integer>-49</integer>
    <key>p</key>
    <integer>-21</integer>
    <key>z</key>
    <integer>-6</integer>
    <key>public.kern2.krf2</key>
    <integer>-56</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>ae</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-14</integer>
    <key>colon</key>
    <integer>-7</integer>
    <key>comma</key>
    <integer>-81</integer>
    <key>d</key>
    <integer>-17</integer>
    <key>g</key>
    <integer>-60</integer>
    <key>j</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-45</integer>
    <key>q</key>
    <integer>-6</integer>
    <key>s</key>
    <integer>-17</integer>
    <key>semicolon</key>
    <integer>-35</integer>
    <key>x</key>
    <integer>-33</integer>
    <key>z</key>
    <integer>-33</integer>
    <key>public.kern2.krA</key>
    <integer>-35</integer>
    <key>public.kern2.kra</key>
    <integer>-17</integer>
    <key>public.kern2.kre</key>
    <integer>-17</integer>
    <key>public.kern2.krf2</key>
    <integer>-60</integer>
    <key>public.kern2.kro</key>
    <integer>-14</integer>
    <key>public.kern2.kry</key>
    <integer>-17</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>public.kern2.krA</key>
    <integer>-66</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>j</key>
    <integer>-21</integer>
    <key>public.kern2.krf2</key>
    <integer>-21</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>ae</key>
    <integer>-31</integer>
    <key>c</key>
    <integer>-17</integer>
    <key>colon</key>
    <integer>-11</integer>
    <key>comma</key>
    <integer>-42</integer>
    <key>d</key>
    <integer>-17</integer>
    <key>g</key>
    <integer>-49</integer>
    <key>j</key>
    <integer>-56</integer>
    <key>p</key>
    <integer>-49</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>r</key>
    <integer>-6</integer>
    <key>s</key>
    <integer>-21</integer>
    <key>semicolon</key>
    <integer>-38</integer>
    <key>x</key>
    <integer>-29</integer>
    <key>z</key>
    <integer>-29</integer>
    <key>public.kern2.krA</key>
    <integer>-16</integer>
    <key>public.kern2.kra</key>
    <integer>-17</integer>
    <key>public.kern2.kre</key>
    <integer>-17</integer>
    <key>public.kern2.krf2</key>
    <integer>-56</integer>
    <key>public.kern2.kro</key>
    <integer>-17</integer>
    <key>public.kern2.kry</key>
    <integer>-21</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>-17</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>quotesingle</key>
    <integer>-69</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>b</key>
    <integer>105</integer>
    <key>comma</key>
    <integer>-38</integer>
    <key>exclam</key>
    <integer>77</integer>
    <key>g</key>
    <integer>-30</integer>
    <key>h</key>
    <integer>105</integer>
    <key>k</key>
    <integer>98</integer>
    <key>parenright</key>
    <integer>65</integer>
    <key>question</key>
    <integer>112</integer>
    <key>quotedblleft</key>
    <integer>105</integer>
    <key>quotedblright</key>
    <integer>91</integer>
    <key>quoteleft</key>
    <integer>105</integer>
    <key>quoteright</key>
    <integer>117</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>57</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>quotesingle</key>
    <integer>-78</integer>
  </dict>
  <key>hyphen</key>
  <dict>
    <key>Y</key>
    <integer>-30</integer>
    <key>public.kern2.krW</key>
    <integer>-95</integer>
  </dict>
  <key>j</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>60</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>quotesingle</key>
    <integer>-167</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>quotesingle</key>
    <integer>-167</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>quotesingle</key>
    <integer>-166</integer>
    <key>public.kern2.krf2</key>
    <integer>39</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>V</key>
    <integer>-39</integer>
    <key>public.kern2.krW</key>
    <integer>-31</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>139</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>public.kern2.krA</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.krA</key>
  <dict>
    <key>V</key>
    <integer>-11</integer>
    <key>quotesingle</key>
    <integer>-34</integer>
    <key>public.kern2.krW</key>
    <integer>-66</integer>
    <key>public.kern2.kra</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.krC</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.krE</key>
  <dict>
    <key>public.kern2.kra</key>
    <integer>-43</integer>
    <key>public.kern2.krf2</key>
    <integer>-17</integer>
    <key>public.kern2.kri</key>
    <integer>-11</integer>
  </dict>
  <key>public.kern1.krO</key>
  <dict>
    <key>public.kern2.krW</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.krW</key>
  <dict>
    <key>ae</key>
    <integer>-62</integer>
    <key>c</key>
    <integer>-6</integer>
    <key>comma</key>
    <integer>-47</integer>
    <key>d</key>
    <integer>-6</integer>
    <key>g</key>
    <integer>-49</integer>
    <key>j</key>
    <integer>-56</integer>
    <key>p</key>
    <integer>-37</integer>
    <key>period</key>
    <integer>-37</integer>
    <key>r</key>
    <integer>-21</integer>
    <key>s</key>
    <integer>-10</integer>
    <key>semicolon</key>
    <integer>-27</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>z</key>
    <integer>-25</integer>
    <key>public.kern2.kra</key>
    <integer>-28</integer>
    <key>public.kern2.kre</key>
    <integer>-6</integer>
    <key>public.kern2.krf2</key>
    <integer>-56</integer>
    <key>public.kern2.kro</key>
    <integer>-6</integer>
    <key>public.kern2.kru</key>
    <integer>-33</integer>
    <key>public.kern2.kry</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kra</key>
  <dict>
    <key>quotesingle</key>
    <integer>-164</integer>
  </dict>
  <key>public.kern1.kro</key>
  <dict>
    <key>quotesingle</key>
    <integer>-171</integer>
  </dict>
  <key>public.kern1.kry</key>
  <dict>
    <key>public.kern2.krf2</key>
    <integer>103</integer>
  </dict>
</dict>
</plist>
