<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>public.kern2.UpperV-W</key>
    <integer>-95</integer>
    <key>public.kern2.Y</key>
    <integer>-27</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>g</key>
    <integer>-41</integer>
    <key>x</key>
    <integer>-54</integer>
    <key>z</key>
    <integer>-34</integer>
    <key>public.kern2.A</key>
    <integer>-41</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-27</integer>
    <key>public.kern2.LLowerSerif</key>
    <integer>-31</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-34</integer>
    <key>public.kern2.s</key>
    <integer>-41</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>public.kern2.LLowerSerif</key>
    <integer>27</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-34</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>public.kern2.LLowerRound</key>
    <integer>-61</integer>
    <key>public.kern2.LLowerSerif</key>
    <integer>-40</integer>
    <key>public.kern2.LUpperRound</key>
    <integer>-34</integer>
    <key>public.kern2.t</key>
    <integer>-27</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.Y</key>
    <integer>-50</integer>
  </dict>
  <key>Oslash</key>
  <dict>
    <key>public.kern2.UpperV-W</key>
    <integer>-52</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-41</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>public.kern2.LUpperRound</key>
    <integer>-20</integer>
    <key>public.kern2.LUpperStraight</key>
    <integer>-27</integer>
    <key>public.kern2.U</key>
    <integer>-47</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-128</integer>
    <key>public.kern2.Y</key>
    <integer>-54</integer>
    <key>public.kern2.quoteright</key>
    <integer>-88</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>quotesingle</key>
    <integer>-81</integer>
  </dict>
  <key>backslash</key>
  <dict>
    <key>public.kern2.f</key>
    <integer>119</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>public.kern2.f</key>
    <integer>108</integer>
    <key>public.kern2.j</key>
    <integer>88</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>j</key>
    <integer>122</integer>
    <key>public.kern2.LLowerSerif</key>
    <integer>14</integer>
    <key>public.kern2.f</key>
    <integer>182</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>asciicircum</key>
    <integer>155</integer>
    <key>asciitilde</key>
    <integer>95</integer>
    <key>asterisk</key>
    <integer>128</integer>
    <key>at</key>
    <integer>122</integer>
    <key>backslash</key>
    <integer>155</integer>
    <key>bar</key>
    <integer>115</integer>
    <key>bracketleft</key>
    <integer>149</integer>
    <key>bracketright</key>
    <integer>128</integer>
    <key>dollar</key>
    <integer>108</integer>
    <key>exclam</key>
    <integer>108</integer>
    <key>grave</key>
    <integer>142</integer>
    <key>parenright</key>
    <integer>81</integer>
    <key>percent</key>
    <integer>108</integer>
    <key>question</key>
    <integer>115</integer>
    <key>quotedblleft</key>
    <integer>101</integer>
    <key>quoteleft</key>
    <integer>90</integer>
    <key>quotesingle</key>
    <integer>81</integer>
    <key>public.kern2.LLowerStraight</key>
    <integer>121</integer>
    <key>public.kern2.Numbers</key>
    <integer>81</integer>
    <key>public.kern2.quoteright</key>
    <integer>131</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>public.kern2.LLowerRound</key>
    <integer>-20</integer>
    <key>public.kern2.f</key>
    <integer>101</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>quotesingle</key>
    <integer>-111</integer>
    <key>public.kern2.quoteright</key>
    <integer>-90</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>public.kern2.LLowerSerif</key>
    <integer>74</integer>
    <key>public.kern2.f</key>
    <integer>128</integer>
    <key>public.kern2.j</key>
    <integer>88</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>public.kern2.UpperV-W</key>
    <integer>-155</integer>
    <key>public.kern2.quoteright</key>
    <integer>-149</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>50</integer>
  </dict>
  <key>quotesinglbase</key>
  <dict>
    <key>public.kern2.UpperV-W</key>
    <integer>-149</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-14</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>J</key>
    <integer>33</integer>
    <key>g</key>
    <integer>47</integer>
    <key>public.kern2.LUpperRound</key>
    <integer>-41</integer>
    <key>public.kern2.U</key>
    <integer>-48</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-151</integer>
    <key>public.kern2.X</key>
    <integer>30</integer>
    <key>public.kern2.Y</key>
    <integer>-40</integer>
    <key>public.kern2.quoteright</key>
    <integer>-88</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.U</key>
    <integer>-41</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-115</integer>
  </dict>
  <key>public.kern1.Numbers</key>
  <dict>
    <key>public.kern2.f</key>
    <integer>54</integer>
  </dict>
  <key>public.kern1.RLowerSerif</key>
  <dict>
    <key>public.kern2.comma</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.RUpperRound</key>
  <dict>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.LUpperStraight</key>
    <integer>-27</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-108</integer>
    <key>public.kern2.X</key>
    <integer>-47</integer>
    <key>public.kern2.Y</key>
    <integer>-47</integer>
    <key>public.kern2.j</key>
    <integer>88</integer>
  </dict>
  <key>public.kern1.RUpperStraight</key>
  <dict>
    <key>oslash</key>
    <integer>-20</integer>
    <key>z</key>
    <integer>-27</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-14</integer>
    <key>public.kern2.LUpperRound</key>
    <integer>-20</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>z</key>
    <integer>-34</integer>
    <key>public.kern2.UpperV-W</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>AE</key>
    <integer>-54</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>g</key>
    <integer>-61</integer>
    <key>x</key>
    <integer>-47</integer>
    <key>z</key>
    <integer>-74</integer>
    <key>public.kern2.A</key>
    <integer>-88</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-61</integer>
    <key>public.kern2.S</key>
    <integer>-34</integer>
    <key>public.kern2.s</key>
    <integer>-47</integer>
    <key>public.kern2.t</key>
    <integer>-7</integer>
  </dict>
  <key>public.kern1.UpperV-W</key>
  <dict>
    <key>AE</key>
    <integer>-115</integer>
    <key>ae</key>
    <integer>-54</integer>
    <key>g</key>
    <integer>-74</integer>
    <key>x</key>
    <integer>-54</integer>
    <key>public.kern2.A</key>
    <integer>-94</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-60</integer>
    <key>public.kern2.LLowerSerif</key>
    <integer>-34</integer>
    <key>public.kern2.LUpperRound</key>
    <integer>-20</integer>
    <key>public.kern2.S</key>
    <integer>-14</integer>
    <key>public.kern2.Y</key>
    <integer>47</integer>
    <key>public.kern2.s</key>
    <integer>-54</integer>
    <key>public.kern2.t</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.X</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>70</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-27</integer>
    <key>public.kern2.LUpperRound</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>J</key>
    <integer>-41</integer>
    <key>g</key>
    <integer>-47</integer>
    <key>x</key>
    <integer>-61</integer>
    <key>z</key>
    <integer>-68</integer>
    <key>public.kern2.A</key>
    <integer>-14</integer>
    <key>public.kern2.LLowerRound</key>
    <integer>-102</integer>
    <key>public.kern2.LLowerSerif</key>
    <integer>-47</integer>
    <key>public.kern2.LLowerStraight</key>
    <integer>27</integer>
    <key>public.kern2.s</key>
    <integer>-47</integer>
    <key>public.kern2.t</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.quoteleft</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>47</integer>
  </dict>
</dict>
</plist>
