<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-225</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>462</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>asc</key>
      <dict>
        <key>position</key>
        <integer>680</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>28</key>
      <dict>
        <key>width</key>
        <integer>28</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>31</key>
      <dict>
        <key>width</key>
        <integer>31</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>35</key>
      <dict>
        <key>width</key>
        <integer>35</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>41</key>
      <dict>
        <key>width</key>
        <integer>41</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>46</key>
      <dict>
        <key>width</key>
        <integer>46</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>51</key>
      <dict>
        <key>width</key>
        <integer>51</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>63</key>
      <dict>
        <key>width</key>
        <integer>63</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>166</key>
      <dict>
        <key>width</key>
        <integer>166</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>29</key>
      <dict>
        <key>width</key>
        <integer>29</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>43</key>
      <dict>
        <key>width</key>
        <integer>43</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>61</key>
      <dict>
        <key>width</key>
        <integer>61</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>95</key>
      <dict>
        <key>width</key>
        <integer>95</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>99</key>
      <dict>
        <key>width</key>
        <integer>99</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>103</key>
      <dict>
        <key>width</key>
        <integer>103</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>110</key>
      <dict>
        <key>width</key>
        <integer>110</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>115</key>
      <dict>
        <key>width</key>
        <integer>115</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>147</key>
      <dict>
        <key>width</key>
        <integer>147</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>566</key>
      <dict>
        <key>width</key>
        <integer>566</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <real>-90</real>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>uni0000</string>
    <string>uni000D</string>
    <string>space</string>
    <string>uni0001</string>
    <string>uni0002</string>
    <string>uni0003</string>
    <string>uni0004</string>
    <string>uni0005</string>
    <string>uni0006</string>
    <string>uni0007</string>
    <string>uni0008</string>
    <string>uni0009</string>
    <string>uni000A</string>
    <string>uni000B</string>
    <string>uni000C</string>
    <string>uni000E</string>
    <string>uni000F</string>
    <string>uni001A</string>
    <string>uni001B</string>
    <string>uni001C</string>
    <string>uni001D</string>
    <string>uni001E</string>
    <string>uni001F</string>
    <string>exclam</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>dieresis</string>
    <string>acute</string>
    <string>cedilla</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>germandbls</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>equal</string>
    <string>bar</string>
    <string>asterisk</string>
    <string>quotedbl</string>
    <string>eth</string>
    <string>fl</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>copyright</string>
    <string>oslash</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>registered</string>
    <string>macron</string>
    <string>questiondown</string>
    <string>thorn</string>
    <string>Thorn</string>
    <string>Eth</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>caron</string>
    <string>acutemod</string>
    <string>gravemod</string>
    <string>ecaron</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>rcaron</string>
    <string>AE</string>
    <string>divide</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>f_f</string>
    <string>musicflat</string>
    <string>musicnatural</string>
    <string>musicsharp</string>
    <string>quoteleft</string>
    <string>quotereversed</string>
    <string>quotedblleft</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>mu</string>
    <string>onesuperior</string>
    <string>ordfeminine</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>fi</string>
    <string>nonbreakinghyphen</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>Ecaron</string>
    <string>Rcaron</string>
    <string>ccaron</string>
    <string>Ccaron</string>
    <string>endash</string>
    <string>emdash</string>
    <string>circumflex</string>
    <string>scircumflex</string>
    <string>Scircumflex</string>
    <string>hyphen-gnrl</string>
    <string>minus</string>
    <string>OE</string>
    <string>trademark</string>
    <string>Euro</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>bullet</string>
    <string>florin</string>
    <string>ellipsis</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>tilde</string>
    <string>Ntilde</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>dotlessi</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Adieresis</string>
    <string>Atilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>itilde</string>
    <string>Itilde</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Utilde</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>ycircumflex</string>
    <string>Zacute</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>macronmod</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Idotaccent</string>
    <string>ncaron</string>
    <string>Ncaron</string>
    <string>utilde</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>zcaron</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ycircumflex</string>
    <string>perthousand</string>
    <string>longs</string>
    <string>versicle</string>
    <string>response</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>one.alt</string>
    <string>dotlessj</string>
    <string>jcircumflex</string>
    <string>Jcircumflex</string>
    <string>one.roman</string>
    <string>two.roman</string>
    <string>three.roman</string>
    <string>four.roman</string>
    <string>five.roman</string>
    <string>six.roman</string>
    <string>seven.roman</string>
    <string>eight.roman</string>
    <string>nine.roman</string>
    <string>ten.roman</string>
    <string>eleven.roman</string>
    <string>twelve.roman</string>
    <string>fifty.roman</string>
    <string>onehundred.roman</string>
    <string>fivehundred.roman</string>
    <string>onethousand.roman</string>
    <string>one.romansmall</string>
    <string>two.romansmall</string>
    <string>three.romansmall</string>
    <string>four.romansmall</string>
    <string>five.romansmall</string>
    <string>six.romansmall</string>
    <string>seven.romansmall</string>
    <string>eight.romansmall</string>
    <string>nine.romansmall</string>
    <string>ten.romansmall</string>
    <string>eleven.romansmall</string>
    <string>twelve.romansmall</string>
    <string>fifty.romansmall</string>
    <string>onehundred.romansmall</string>
    <string>fivehundred.romansmall</string>
    <string>onethousand.romansmall</string>
    <string>f_j.dlig</string>
    <string>tcaron</string>
    <string>Tcaron</string>
  </array>
</dict>
</plist>
