<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.krA</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.krE</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
  </array>
  <key>public.kern1.krO</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1.krW</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.kr_aSC</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern1.kr_iSC</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern1.kr_oSC</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
  </array>
  <key>public.kern1.kr_uSC</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>umacron</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern1.kr_ySC</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern1.kra</key>
  <array>
    <string>a.smcp</string>
    <string>aacute.smcp</string>
    <string>abreve.smcp</string>
    <string>acircumflex.smcp</string>
    <string>adieresis.smcp</string>
    <string>agrave.smcp</string>
    <string>amacron.smcp</string>
    <string>aring.smcp</string>
    <string>atilde.smcp</string>
  </array>
  <key>public.kern1.kre</key>
  <array>
    <string>e.smcp</string>
    <string>eacute.smcp</string>
    <string>ebreve.smcp</string>
    <string>ecaron.smcp</string>
    <string>ecircumflex.smcp</string>
    <string>edieresis.smcp</string>
    <string>edotaccent.smcp</string>
    <string>egrave.smcp</string>
    <string>emacron.smcp</string>
  </array>
  <key>public.kern1.kro</key>
  <array>
    <string>o.smcp</string>
    <string>oacute.smcp</string>
    <string>obreve.smcp</string>
    <string>ocircumflex.smcp</string>
    <string>odieresis.smcp</string>
    <string>ograve.smcp</string>
    <string>omacron.smcp</string>
    <string>oslash.smcp</string>
    <string>otilde.smcp</string>
  </array>
  <key>public.kern1.krpunct1</key>
  <array>
    <string>comma</string>
    <string>period</string>
  </array>
  <key>public.kern1.kry</key>
  <array>
    <string>y.smcp</string>
    <string>yacute.smcp</string>
    <string>ycircumflex.smcp</string>
    <string>ydieresis.smcp</string>
    <string>ygrave.smcp</string>
  </array>
  <key>public.kern2.krA</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.krC</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern2.krE</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
  </array>
  <key>public.kern2.krO</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
  </array>
  <key>public.kern2.krW</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.kr_aSC</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2.kr_eSC</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
  </array>
  <key>public.kern2.kr_iSC</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern2.kr_oSC</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
  </array>
  <key>public.kern2.kr_uSC</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>umacron</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern2.kr_ySC</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern2.kra</key>
  <array>
    <string>a.smcp</string>
    <string>aacute.smcp</string>
    <string>abreve.smcp</string>
    <string>acircumflex.smcp</string>
    <string>adieresis.smcp</string>
    <string>agrave.smcp</string>
    <string>amacron.smcp</string>
    <string>aring.smcp</string>
    <string>atilde.smcp</string>
  </array>
  <key>public.kern2.kre</key>
  <array>
    <string>e.smcp</string>
    <string>eacute.smcp</string>
    <string>ebreve.smcp</string>
    <string>ecaron.smcp</string>
    <string>ecircumflex.smcp</string>
    <string>edieresis.smcp</string>
    <string>edotaccent.smcp</string>
    <string>egrave.smcp</string>
    <string>emacron.smcp</string>
  </array>
  <key>public.kern2.kri</key>
  <array>
    <string>dotlessi.smcp</string>
    <string>i.smcp</string>
    <string>iacute.smcp</string>
    <string>icircumflex.smcp</string>
    <string>idieresis.smcp</string>
    <string>igrave.smcp</string>
    <string>imacron.smcp</string>
    <string>itilde.smcp</string>
  </array>
  <key>public.kern2.kro</key>
  <array>
    <string>o.smcp</string>
    <string>oacute.smcp</string>
    <string>obreve.smcp</string>
    <string>ocircumflex.smcp</string>
    <string>odieresis.smcp</string>
    <string>ograve.smcp</string>
    <string>omacron.smcp</string>
    <string>oslash.smcp</string>
    <string>otilde.smcp</string>
  </array>
  <key>public.kern2.krpunct1</key>
  <array>
    <string>comma</string>
    <string>period</string>
  </array>
  <key>public.kern2.kru</key>
  <array>
    <string>u.smcp</string>
    <string>uacute.smcp</string>
    <string>ubreve.smcp</string>
    <string>ucircumflex.smcp</string>
    <string>udieresis.smcp</string>
    <string>ugrave.smcp</string>
    <string>umacron.smcp</string>
    <string>uring.smcp</string>
    <string>utilde.smcp</string>
  </array>
  <key>public.kern2.kry</key>
  <array>
    <string>y.smcp</string>
    <string>yacute.smcp</string>
    <string>ycircumflex.smcp</string>
    <string>ydieresis.smcp</string>
    <string>ygrave.smcp</string>
  </array>
</dict>
</plist>
