<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>A.alt</key>
  <string>A_.alt.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>AEsmall</key>
  <string>A_E_small.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Acyr</key>
  <string>A_cyr.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Agrave.1</key>
  <string>A_grave.1.glif</string>
  <key>Alpha</key>
  <string>A_lpha.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Asmall</key>
  <string>A_small.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>B.alt</key>
  <string>B_.alt.glif</string>
  <key>Bbarsmall</key>
  <string>B_barsmall.glif</string>
  <key>Becyr</key>
  <string>B_ecyr.glif</string>
  <key>Beta</key>
  <string>B_eta.glif</string>
  <key>Bsmall</key>
  <string>B_small.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>C.alt</key>
  <string>C_.alt.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>Checyr</key>
  <string>C_hecyr.glif</string>
  <key>Chi</key>
  <string>C_hi.glif</string>
  <key>Csmall</key>
  <string>C_small.glif</string>
  <key>Cstretched</key>
  <string>C_stretched.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>D.alt</key>
  <string>D_.alt.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>Dsmall</key>
  <string>D_small.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E.alt</key>
  <string>E_.alt.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Efcyr</key>
  <string>E_fcyr.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Elcyr</key>
  <string>E_lcyr.glif</string>
  <key>Elsmallcyr</key>
  <string>E_lsmallcyr.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Emcyr</key>
  <string>E_mcyr.glif</string>
  <key>Encyr</key>
  <string>E_ncyr.glif</string>
  <key>Epsilon</key>
  <string>E_psilon.glif</string>
  <key>Ercyr</key>
  <string>E_rcyr.glif</string>
  <key>Ereversedcyr</key>
  <string>E_reversedcyr.glif</string>
  <key>Escyr</key>
  <string>E_scyr.glif</string>
  <key>Esmall</key>
  <string>E_small.glif</string>
  <key>Eta</key>
  <string>E_ta.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Ethsmall</key>
  <string>E_thsmall.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Ezhsmall</key>
  <string>E_zhsmall.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>F.alt</key>
  <string>F_.alt.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>G.alt</key>
  <string>G_.alt.glif</string>
  <key>Gamma</key>
  <string>G_amma.glif</string>
  <key>Gamma-grsmall</key>
  <string>G_amma-grsmall.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Gecyr</key>
  <string>G_ecyr.glif</string>
  <key>Ghooksmall</key>
  <string>G_hooksmall.glif</string>
  <key>Gsmall</key>
  <string>G_small.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H.alt</key>
  <string>H_.alt.glif</string>
  <key>Hacyr</key>
  <string>H_acyr.glif</string>
  <key>Hardcyr</key>
  <string>H_ardcyr.glif</string>
  <key>Hsmall</key>
  <string>H_small.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>I.alt</key>
  <string>I_.alt.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Icyr</key>
  <string>I_cyr.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Iecyr</key>
  <string>I_ecyr.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Iota</key>
  <string>I_ota.glif</string>
  <key>Ishortcyr</key>
  <string>I_shortcyr.glif</string>
  <key>Ismall</key>
  <string>I_small.glif</string>
  <key>Ismallstroke</key>
  <string>I_smallstroke.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>J.alt</key>
  <string>J_.alt.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>Jsmall</key>
  <string>J_small.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>K.alt</key>
  <string>K_.alt.glif</string>
  <key>Kacyr</key>
  <string>K_acyr.glif</string>
  <key>Kappa</key>
  <string>K_appa.glif</string>
  <key>Ksmall</key>
  <string>K_small.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>L.alt</key>
  <string>L_.alt.glif</string>
  <key>Lambda</key>
  <string>L_ambda.glif</string>
  <key>Lambda-grsmall</key>
  <string>L_ambda-grsmall.glif</string>
  <key>Lsmall</key>
  <string>L_small.glif</string>
  <key>Lsmallstroke</key>
  <string>L_smallstroke.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>M.alt</key>
  <string>M_.alt.glif</string>
  <key>Msmall</key>
  <string>M_small.glif</string>
  <key>Mu</key>
  <string>M_u.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>N.alt</key>
  <string>N_.alt.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Nsmall</key>
  <string>N_small.glif</string>
  <key>Nsmallreversed</key>
  <string>N_smallreversed.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>Nu</key>
  <string>N_u.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>O.alt</key>
  <string>O_.alt.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>OEsmall</key>
  <string>O_E_small.glif</string>
  <key>OUsmall</key>
  <string>O_U_small.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Ocyr</key>
  <string>O_cyr.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Omicron</key>
  <string>O_micron.glif</string>
  <key>Oopensmall</key>
  <string>O_opensmall.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Osmall</key>
  <string>O_small.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>P.alt</key>
  <string>P_.alt.glif</string>
  <key>Pecyr</key>
  <string>P_ecyr.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Pi</key>
  <string>P_i.glif</string>
  <key>Pi-grsmall</key>
  <string>P_i-grsmall.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Psi-grsmall</key>
  <string>P_si-grsmall.glif</string>
  <key>Psmall</key>
  <string>P_small.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>Q.alt</key>
  <string>Q_.alt.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>R.alt</key>
  <string>R_.alt.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rho</key>
  <string>R_ho.glif</string>
  <key>Rinvertedsmall</key>
  <string>R_invertedsmall.glif</string>
  <key>Rsmall</key>
  <string>R_small.glif</string>
  <key>RsmallHO-gr</key>
  <string>R_smallH_O_-gr.glif</string>
  <key>Rsmallreversed</key>
  <string>R_smallreversed.glif</string>
  <key>Rsmallturned</key>
  <string>R_smallturned.glif</string>
  <key>Rsupinvertedmod</key>
  <string>R_supinvertedmod.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>S.alt</key>
  <string>S_.alt.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Shacyr</key>
  <string>S_hacyr.glif</string>
  <key>Shchacyr</key>
  <string>S_hchacyr.glif</string>
  <key>Sigma</key>
  <string>S_igma.glif</string>
  <key>Softcyr</key>
  <string>S_oftcyr.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>T.alt</key>
  <string>T_.alt.glif</string>
  <key>Tau</key>
  <string>T_au.glif</string>
  <key>Tecyr</key>
  <string>T_ecyr.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tsecyr</key>
  <string>T_secyr.glif</string>
  <key>Tsmall</key>
  <string>T_small.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>U.alt</key>
  <string>U_.alt.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Ucyr</key>
  <string>U_cyr.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Upsilon</key>
  <string>U_psilon.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Usmall</key>
  <string>U_small.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>V.alt</key>
  <string>V_.alt.glif</string>
  <key>Vecyr</key>
  <string>V_ecyr.glif</string>
  <key>Vsmall</key>
  <string>V_small.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>W.alt</key>
  <string>W_.alt.glif</string>
  <key>Wacute</key>
  <string>W_acute.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wdieresis</key>
  <string>W_dieresis.glif</string>
  <key>Wgrave</key>
  <string>W_grave.glif</string>
  <key>Wsmall</key>
  <string>W_small.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>X.alt</key>
  <string>X_.alt.glif</string>
  <key>Xi</key>
  <string>X_i.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Y.alt</key>
  <string>Y_.alt.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Yacyr</key>
  <string>Y_acyr.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ygrave</key>
  <string>Y_grave.glif</string>
  <key>Ylongcyr</key>
  <string>Y_longcyr.glif</string>
  <key>Ysmall</key>
  <string>Y_small.glif</string>
  <key>Yucyr</key>
  <string>Y_ucyr.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Z.alt</key>
  <string>Z_.alt.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>Zecyr</key>
  <string>Z_ecyr.glif</string>
  <key>Zeta</key>
  <string>Z_eta.glif</string>
  <key>Zhecyr</key>
  <string>Z_hecyr.glif</string>
  <key>Zsmall</key>
  <string>Z_small.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.smcp</key>
  <string>a.smcp.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>aacute.smcp</key>
  <string>aacute.smcp.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>abreve.smcp</key>
  <string>abreve.smcp.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acircumflex.smcp</key>
  <string>acircumflex.smcp.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acute.smcp</key>
  <string>acute.smcp.glif</string>
  <key>acutelowmod</key>
  <string>acutelowmod.glif</string>
  <key>acutemod</key>
  <string>acutemod.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>adieresis.smcp</key>
  <string>adieresis.smcp.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>ae.smcp</key>
  <string>ae.smcp.glif</string>
  <key>aeturned</key>
  <string>aeturned.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>agrave.smcp</key>
  <string>agrave.smcp.glif</string>
  <key>ain-phon</key>
  <string>ain-phon.glif</string>
  <key>alpha-ipa</key>
  <string>alpha-ipa.glif</string>
  <key>alpharetroflexhook</key>
  <string>alpharetroflexhook.glif</string>
  <key>alphaturned</key>
  <string>alphaturned.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>amacron.smcp</key>
  <string>amacron.smcp.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>apostrophedblmod</key>
  <string>apostrophedblmod.glif</string>
  <key>apostrophemod</key>
  <string>apostrophemod.glif</string>
  <key>aretroflexhook</key>
  <string>aretroflexhook.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>aring.smcp</key>
  <string>aring.smcp.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowright</key>
  <string>arrowright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>atilde.smcp</key>
  <string>atilde.smcp.glif</string>
  <key>aturned</key>
  <string>aturned.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>b.smcp</key>
  <string>b.smcp.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>bhook</key>
  <string>bhook.glif</string>
  <key>bmiddletilde</key>
  <string>bmiddletilde.glif</string>
  <key>bpalatalhook</key>
  <string>bpalatalhook.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>breve.smcp</key>
  <string>breve.smcp.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c.smcp</key>
  <string>c.smcp.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>cacute.smcp</key>
  <string>cacute.smcp.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caron.smcp</key>
  <string>caron.smcp.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caroncomb.smcp</key>
  <string>caroncomb.smcp.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccaron.smcp</key>
  <string>ccaron.smcp.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccedilla.smcp</key>
  <string>ccedilla.smcp.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>ccircumflex.smcp</key>
  <string>ccircumflex.smcp.glif</string>
  <key>ccurl</key>
  <string>ccurl.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cdotaccent.smcp</key>
  <string>cdotaccent.smcp.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cedillacomb.smcp</key>
  <string>cedillacomb.smcp.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflex.smcp</key>
  <string>circumflex.smcp.glif</string>
  <key>clickalveolar</key>
  <string>clickalveolar.glif</string>
  <key>clickbilabial</key>
  <string>clickbilabial.glif</string>
  <key>clickdental</key>
  <string>clickdental.glif</string>
  <key>clicklateral</key>
  <string>clicklateral.glif</string>
  <key>clickretroflex</key>
  <string>clickretroflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colontriangularhalfmod</key>
  <string>colontriangularhalfmod.glif</string>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commareversedmod</key>
  <string>commareversedmod.glif</string>
  <key>commaturnedmod</key>
  <string>commaturnedmod.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>d.smcp</key>
  <string>d.smcp.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcaron.smcp</key>
  <string>dcaron.smcp.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dezh</key>
  <string>dezh.glif</string>
  <key>dhook</key>
  <string>dhook.glif</string>
  <key>dhooktail</key>
  <string>dhooktail.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresis.smcp</key>
  <string>dieresis.smcp.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dmiddletilde</key>
  <string>dmiddletilde.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar.1</key>
  <string>dollar.1.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccent.smcp</key>
  <string>dotaccent.smcp.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>dotlessjstroke</key>
  <string>dotlessjstroke.glif</string>
  <key>dotlessjstrokehook</key>
  <string>dotlessjstrokehook.glif</string>
  <key>dpalatalhook</key>
  <string>dpalatalhook.glif</string>
  <key>dtail</key>
  <string>dtail.glif</string>
  <key>dzed</key>
  <string>dzed.glif</string>
  <key>dzedcurl</key>
  <string>dzedcurl.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.smcp</key>
  <string>e.smcp.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>eacute.smcp</key>
  <string>eacute.smcp.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ebreve.smcp</key>
  <string>ebreve.smcp.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecaron.smcp</key>
  <string>ecaron.smcp.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>ecircumflex.smcp</key>
  <string>ecircumflex.smcp.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edieresis.smcp</key>
  <string>edieresis.smcp.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>edotaccent.smcp</key>
  <string>edotaccent.smcp.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>egrave.smcp</key>
  <string>egrave.smcp.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emacron.smcp</key>
  <string>emacron.smcp.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eopen</key>
  <string>eopen.glif</string>
  <key>eopenclosed</key>
  <string>eopenclosed.glif</string>
  <key>eopenretroflexhook</key>
  <string>eopenretroflexhook.glif</string>
  <key>eopenreversed</key>
  <string>eopenreversed.glif</string>
  <key>eopenreversedclosed</key>
  <string>eopenreversedclosed.glif</string>
  <key>eopenreversedhook</key>
  <string>eopenreversedhook.glif</string>
  <key>eopenreversedretroflexhook</key>
  <string>eopenreversedretroflexhook.glif</string>
  <key>eopenturned</key>
  <string>eopenturned.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eretroflexhook</key>
  <string>eretroflexhook.glif</string>
  <key>ereversed-ipa</key>
  <string>ereversed-ipa.glif</string>
  <key>esh</key>
  <string>esh.glif</string>
  <key>eshcurl</key>
  <string>eshcurl.glif</string>
  <key>eshpalatalhook</key>
  <string>eshpalatalhook.glif</string>
  <key>eshretroflexhook</key>
  <string>eshretroflexhook.glif</string>
  <key>eshsquatreversed</key>
  <string>eshsquatreversed.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>eta.1</key>
  <string>eta.1.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eth.smcp</key>
  <string>eth.smcp.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamationquestion</key>
  <string>exclamationquestion.glif</string>
  <key>exclamdbl</key>
  <string>exclamdbl.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>ezh</key>
  <string>ezh.glif</string>
  <key>ezhcurl</key>
  <string>ezhcurl.glif</string>
  <key>ezhretroflexhook</key>
  <string>ezhretroflexhook.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f.short</key>
  <string>f.short.glif</string>
  <key>f.smcp</key>
  <string>f.smcp.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>feng</key>
  <string>feng.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>fl.1</key>
  <string>fl.1.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>fmiddletilde</key>
  <string>fmiddletilde.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fpalatalhook</key>
  <string>fpalatalhook.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>g.smcp</key>
  <string>g.smcp.glif</string>
  <key>gamma-ipa</key>
  <string>gamma-ipa.glif</string>
  <key>gammasupmod</key>
  <string>gammasupmod.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gbreve.smcp</key>
  <string>gbreve.smcp.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gcircumflex.smcp</key>
  <string>gcircumflex.smcp.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>gdotaccent.smcp</key>
  <string>gdotaccent.smcp.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>ghook</key>
  <string>ghook.glif</string>
  <key>ginsular</key>
  <string>ginsular.glif</string>
  <key>glottalstop</key>
  <string>glottalstop.glif</string>
  <key>glottalstopinverted</key>
  <string>glottalstopinverted.glif</string>
  <key>glottalstopmod</key>
  <string>glottalstopmod.glif</string>
  <key>glottalstopreversedmod</key>
  <string>glottalstopreversedmod.glif</string>
  <key>glottalstopstroke</key>
  <string>glottalstopstroke.glif</string>
  <key>glottalstopstrokereversed</key>
  <string>glottalstopstrokereversed.glif</string>
  <key>glottalstopsupreversedmod</key>
  <string>glottalstopsupreversedmod.glif</string>
  <key>gpalatalhook</key>
  <string>gpalatalhook.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>grave.c2sc</key>
  <string>grave.c2sc.glif</string>
  <key>grave.smcp</key>
  <string>grave.smcp.glif</string>
  <key>gravelowmod</key>
  <string>gravelowmod.glif</string>
  <key>gravemod</key>
  <string>gravemod.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>gscript-ipa</key>
  <string>gscript-ipa.glif</string>
  <key>gturned</key>
  <string>gturned.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>h.smcp</key>
  <string>h.smcp.glif</string>
  <key>handtailfishhookturned</key>
  <string>handtailfishhookturned.glif</string>
  <key>henghook</key>
  <string>henghook.glif</string>
  <key>hfishhookturned</key>
  <string>hfishhookturned.glif</string>
  <key>hhook</key>
  <string>hhook.glif</string>
  <key>hhooksupmod</key>
  <string>hhooksupmod.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hsupmod</key>
  <string>hsupmod.glif</string>
  <key>hturned</key>
  <string>hturned.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen-gnrl</key>
  <string>hyphen-gnrl.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.smcp</key>
  <string>i.smcp.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>iacute.smcp</key>
  <string>iacute.smcp.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>icircumflex.smcp</key>
  <string>icircumflex.smcp.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idieresis.smcp</key>
  <string>idieresis.smcp.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>igrave.smcp</key>
  <string>igrave.smcp.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>imacron.smcp</key>
  <string>imacron.smcp.glif</string>
  <key>iota-ipa</key>
  <string>iota-ipa.glif</string>
  <key>iotastroke</key>
  <string>iotastroke.glif</string>
  <key>iretroflexhook</key>
  <string>iretroflexhook.glif</string>
  <key>istroke</key>
  <string>istroke.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>itilde.smcp</key>
  <string>itilde.smcp.glif</string>
  <key>iturned</key>
  <string>iturned.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.smcp</key>
  <string>j.smcp.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>jcircumflex.smcp</key>
  <string>jcircumflex.smcp.glif</string>
  <key>jcrossedtail</key>
  <string>jcrossedtail.glif</string>
  <key>jsupmod</key>
  <string>jsupmod.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k.smcp</key>
  <string>k.smcp.glif</string>
  <key>kpalatalhook</key>
  <string>kpalatalhook.glif</string>
  <key>kturned</key>
  <string>kturned.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l.smcp</key>
  <string>l.smcp.glif</string>
  <key>lbelt</key>
  <string>lbelt.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lezh</key>
  <string>lezh.glif</string>
  <key>lhookretroflex</key>
  <string>lhookretroflex.glif</string>
  <key>lmiddletilde</key>
  <string>lmiddletilde.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>longs_t</key>
  <string>longs_t.glif</string>
  <key>lowasterisk</key>
  <string>lowasterisk.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lpalatalhook</key>
  <string>lpalatalhook.glif</string>
  <key>ls</key>
  <string>ls.glif</string>
  <key>lsupmod</key>
  <string>lsupmod.glif</string>
  <key>lzed</key>
  <string>lzed.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.smcp</key>
  <string>m.smcp.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macron.smcp</key>
  <string>macron.smcp.glif</string>
  <key>macronlowmod</key>
  <string>macronlowmod.glif</string>
  <key>macronmod</key>
  <string>macronmod.glif</string>
  <key>macronmod.1</key>
  <string>macronmod.1.glif</string>
  <key>mhook</key>
  <string>mhook.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minute</key>
  <string>minute.glif</string>
  <key>mlonglegturned</key>
  <string>mlonglegturned.glif</string>
  <key>mmiddletilde</key>
  <string>mmiddletilde.glif</string>
  <key>mpalatalhook</key>
  <string>mpalatalhook.glif</string>
  <key>mturned</key>
  <string>mturned.glif</string>
  <key>mturnedsideways</key>
  <string>mturnedsideways.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>musicflat</key>
  <string>musicflat.glif</string>
  <key>musicnatural</key>
  <string>musicnatural.glif</string>
  <key>musicsharp</key>
  <string>musicsharp.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.smcp</key>
  <string>n.smcp.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>nacute.smcp</key>
  <string>nacute.smcp.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncaron.smcp</key>
  <string>ncaron.smcp.glif</string>
  <key>nhookleft</key>
  <string>nhookleft.glif</string>
  <key>nhookretroflex</key>
  <string>nhookretroflex.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nmiddletilde</key>
  <string>nmiddletilde.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>npalatalhook</key>
  <string>npalatalhook.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>ntilde.smcp</key>
  <string>ntilde.smcp.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.smcp</key>
  <string>o.smcp.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>oacute.smcp</key>
  <string>oacute.smcp.glif</string>
  <key>obarred</key>
  <string>obarred.glif</string>
  <key>obottomhalf</key>
  <string>obottomhalf.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>obreve.smcp</key>
  <string>obreve.smcp.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>ocircumflex.smcp</key>
  <string>ocircumflex.smcp.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>odieresis.smcp</key>
  <string>odieresis.smcp.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>oe.smcp</key>
  <string>oe.smcp.glif</string>
  <key>oeturned</key>
  <string>oeturned.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ograve.smcp</key>
  <string>ograve.smcp.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>omacron.smcp</key>
  <string>omacron.smcp.glif</string>
  <key>omegaclosed</key>
  <string>omegaclosed.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.alt</key>
  <string>one.alt.glif</string>
  <key>onedotenleader</key>
  <string>onedotenleader.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oopen</key>
  <string>oopen.glif</string>
  <key>oopenretroflexhook</key>
  <string>oopenretroflexhook.glif</string>
  <key>oopensideways</key>
  <string>oopensideways.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>osideways</key>
  <string>osideways.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>oslash.smcp</key>
  <string>oslash.smcp.glif</string>
  <key>ostrokesideways</key>
  <string>ostrokesideways.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>otilde.smcp</key>
  <string>otilde.smcp.glif</string>
  <key>otophalf</key>
  <string>otophalf.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p.smcp</key>
  <string>p.smcp.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>percussivebidental</key>
  <string>percussivebidental.glif</string>
  <key>percussivebilabial</key>
  <string>percussivebilabial.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>pertenthousandsign</key>
  <string>pertenthousandsign.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pharyngealvoicedfricative</key>
  <string>pharyngealvoicedfricative.glif</string>
  <key>phi-ipa</key>
  <string>phi-ipa.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>pilcrowsignreversed</key>
  <string>pilcrowsignreversed.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>pmiddletilde</key>
  <string>pmiddletilde.glif</string>
  <key>ppalatalhook</key>
  <string>ppalatalhook.glif</string>
  <key>primedblmod</key>
  <string>primedblmod.glif</string>
  <key>primemod</key>
  <string>primemod.glif</string>
  <key>pstroke</key>
  <string>pstroke.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>q.smcp</key>
  <string>q.smcp.glif</string>
  <key>qhook</key>
  <string>qhook.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondbl</key>
  <string>questiondbl.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>questionexclamationmark</key>
  <string>questionexclamationmark.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblreversed</key>
  <string>quotedblreversed.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r.smcp</key>
  <string>r.smcp.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>racute.smcp</key>
  <string>racute.smcp.glif</string>
  <key>ramshorn</key>
  <string>ramshorn.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcaron.smcp</key>
  <string>rcaron.smcp.glif</string>
  <key>referencemark</key>
  <string>referencemark.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>response</key>
  <string>response.glif</string>
  <key>rfishhook</key>
  <string>rfishhook.glif</string>
  <key>rfishhookreversed</key>
  <string>rfishhookreversed.glif</string>
  <key>rfishmiddletilde</key>
  <string>rfishmiddletilde.glif</string>
  <key>rho</key>
  <string>rho.glif</string>
  <key>rhookturned</key>
  <string>rhookturned.glif</string>
  <key>rhookturnedsupmod</key>
  <string>rhookturnedsupmod.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ring.smcp</key>
  <string>ring.smcp.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb.smcp</key>
  <string>ringcomb.smcp.glif</string>
  <key>ringhalfleftmod</key>
  <string>ringhalfleftmod.glif</string>
  <key>ringhalfrightmod</key>
  <string>ringhalfrightmod.glif</string>
  <key>rlongleg</key>
  <string>rlongleg.glif</string>
  <key>rlonglegturned</key>
  <string>rlonglegturned.glif</string>
  <key>rmiddletilde</key>
  <string>rmiddletilde.glif</string>
  <key>rpalatalhook</key>
  <string>rpalatalhook.glif</string>
  <key>rsupmod</key>
  <string>rsupmod.glif</string>
  <key>rtail-ipa</key>
  <string>rtail-ipa.glif</string>
  <key>rturned</key>
  <string>rturned.glif</string>
  <key>rturnedsupmod</key>
  <string>rturnedsupmod.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s.smcp</key>
  <string>s.smcp.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>sacute.smcp</key>
  <string>sacute.smcp.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scaron.smcp</key>
  <string>scaron.smcp.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>schwahook</key>
  <string>schwahook.glif</string>
  <key>schwaretroflexhook</key>
  <string>schwaretroflexhook.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>scircumflex.smcp</key>
  <string>scircumflex.smcp.glif</string>
  <key>second</key>
  <string>second.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shook</key>
  <string>shook.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>smiddletilde</key>
  <string>smiddletilde.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>spalatalhook</key>
  <string>spalatalhook.glif</string>
  <key>spirantvoicedlaryngeal</key>
  <string>spirantvoicedlaryngeal.glif</string>
  <key>ssupmod</key>
  <string>ssupmod.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t.smcp</key>
  <string>t.smcp.glif</string>
  <key>tccurl</key>
  <string>tccurl.glif</string>
  <key>tesh</key>
  <string>tesh.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>thorn.smcp</key>
  <string>thorn.smcp.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>thstrike</key>
  <string>thstrike.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tilde.smcp</key>
  <string>tilde.smcp.glif</string>
  <key>tmiddletilde</key>
  <string>tmiddletilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tretroflexhook</key>
  <string>tretroflexhook.glif</string>
  <key>ts</key>
  <string>ts.glif</string>
  <key>tturned</key>
  <string>tturned.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twoasterisksalignedvertically</key>
  <string>twoasterisksalignedvertically.glif</string>
  <key>twodotenleader</key>
  <string>twodotenleader.glif</string>
  <key>twostroke</key>
  <string>twostroke.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u.smcp</key>
  <string>u.smcp.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>uacute.smcp</key>
  <string>uacute.smcp.glif</string>
  <key>ubar</key>
  <string>ubar.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ubreve.smcp</key>
  <string>ubreve.smcp.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>ucircumflex.smcp</key>
  <string>ucircumflex.smcp.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>udieresis.smcp</key>
  <string>udieresis.smcp.glif</string>
  <key>ue</key>
  <string>ue.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ugrave.smcp</key>
  <string>ugrave.smcp.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>umacron.smcp</key>
  <string>umacron.smcp.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni0000</key>
  <string>uni0000.glif</string>
  <key>uni0001</key>
  <string>uni0001.glif</string>
  <key>uni0002</key>
  <string>uni0002.glif</string>
  <key>uni0003</key>
  <string>uni0003.glif</string>
  <key>uni0004</key>
  <string>uni0004.glif</string>
  <key>uni0005</key>
  <string>uni0005.glif</string>
  <key>uni0006</key>
  <string>uni0006.glif</string>
  <key>uni0007</key>
  <string>uni0007.glif</string>
  <key>uni0008</key>
  <string>uni0008.glif</string>
  <key>uni0009</key>
  <string>uni0009.glif</string>
  <key>uni000A</key>
  <string>uni000A_.glif</string>
  <key>uni000B</key>
  <string>uni000B_.glif</string>
  <key>uni000C</key>
  <string>uni000C_.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uni000E</key>
  <string>uni000E_.glif</string>
  <key>uni000F</key>
  <string>uni000F_.glif</string>
  <key>uni0010</key>
  <string>uni0010.glif</string>
  <key>uni0011</key>
  <string>uni0011.glif</string>
  <key>uni0012</key>
  <string>uni0012.glif</string>
  <key>uni0013</key>
  <string>uni0013.glif</string>
  <key>uni0014</key>
  <string>uni0014.glif</string>
  <key>uni0015</key>
  <string>uni0015.glif</string>
  <key>uni0019</key>
  <string>uni0019.glif</string>
  <key>uni001A</key>
  <string>uni001A_.glif</string>
  <key>uni001B</key>
  <string>uni001B_.glif</string>
  <key>uni001C</key>
  <string>uni001C_.glif</string>
  <key>uni001E</key>
  <string>uni001E_.glif</string>
  <key>uni001F</key>
  <string>uni001F_.glif</string>
  <key>uni0394</key>
  <string>uni0394.glif</string>
  <key>uni2034</key>
  <string>uni2034.glif</string>
  <key>uni2035</key>
  <string>uni2035.glif</string>
  <key>uni2036</key>
  <string>uni2036.glif</string>
  <key>uni2037</key>
  <string>uni2037.glif</string>
  <key>uni2042</key>
  <string>uni2042.glif</string>
  <key>upsilon-ipa</key>
  <string>upsilon-ipa.glif</string>
  <key>upsilonstroke</key>
  <string>upsilonstroke.glif</string>
  <key>uretroflexhook</key>
  <string>uretroflexhook.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>uring.smcp</key>
  <string>uring.smcp.glif</string>
  <key>usideways</key>
  <string>usideways.glif</string>
  <key>usidewaysdieresised</key>
  <string>usidewaysdieresised.glif</string>
  <key>ustroke</key>
  <string>ustroke.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>utilde.smcp</key>
  <string>utilde.smcp.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>v.smcp</key>
  <string>v.smcp.glif</string>
  <key>versicle</key>
  <string>versicle.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>verticallinemod</key>
  <string>verticallinemod.glif</string>
  <key>vhook</key>
  <string>vhook.glif</string>
  <key>voicingmod</key>
  <string>voicingmod.glif</string>
  <key>vpalatalhook</key>
  <string>vpalatalhook.glif</string>
  <key>vturned</key>
  <string>vturned.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>w.smcp</key>
  <string>w.smcp.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wacute.smcp</key>
  <string>wacute.smcp.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wcircumflex.smcp</key>
  <string>wcircumflex.smcp.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>wdieresis.smcp</key>
  <string>wdieresis.smcp.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>wgrave.smcp</key>
  <string>wgrave.smcp.glif</string>
  <key>wsupmod</key>
  <string>wsupmod.glif</string>
  <key>wturned</key>
  <string>wturned.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x.smcp</key>
  <string>x.smcp.glif</string>
  <key>xpalatalhook</key>
  <string>xpalatalhook.glif</string>
  <key>xsupmod</key>
  <string>xsupmod.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y.smcp</key>
  <string>y.smcp.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yacute.smcp</key>
  <string>yacute.smcp.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ycircumflex.smcp</key>
  <string>ycircumflex.smcp.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>ydieresis.smcp</key>
  <string>ydieresis.smcp.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>ysupmod</key>
  <string>ysupmod.glif</string>
  <key>yturned</key>
  <string>yturned.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>z.smcp</key>
  <string>z.smcp.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zacute.smcp</key>
  <string>zacute.smcp.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zcaron.smcp</key>
  <string>zcaron.smcp.glif</string>
  <key>zcurl</key>
  <string>zcurl.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zdotaccent.smcp</key>
  <string>zdotaccent.smcp.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zmiddletilde</key>
  <string>zmiddletilde.glif</string>
  <key>zpalatalhook</key>
  <string>zpalatalhook.glif</string>
  <key>zretroflexhook</key>
  <string>zretroflexhook.glif</string>
</dict>
</plist>
