<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>V</key>
    <integer>-86</integer>
    <key>W</key>
    <integer>-76</integer>
    <key>v</key>
    <integer>-28</integer>
  </dict>
</dict>
</plist>
